@model List<AccountViewModel>
@{
    Layout = "_AdminLayout";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1>Danh sách tài khoản</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên đăng nhập</th>
                        <th>Tên tài khoản</th>
                        <th>Chức vụ</th>
                        <th>Chỉnh sửa chức vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userViewModel in Model)
                    {
                        <tr>
                            <td>@userViewModel.User.Email</td>
                            <td>@userViewModel.User.FullName</td>
                            <td>@string.Join(", ", userViewModel.Roles)</td>
                            <td>
                                <a asp-controller="Ad" asp-action="EditUserRole" asp-route-id="@userViewModel.User.Id" class="btn btn-primary">sửa chức vụ</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>
