<div id="messenger-icon">
    <a href="https://www.messenger.com/t/318485548011660/?messaging_source=source%3Apages%3Amessage_shortlink&source_id=1441792&recurring_notification=0" target="_blank">
        <img src="~/banner/logo-removebg-preview.png" alt="Messenger Icon">
    </a>
</div>
