@model IEnumerable<WebBanHang.Models.Product>
@{
    ViewData["Title"] = "menu";
    var uniqueCategories = new HashSet<string>();
}

<div class="menu">
    <ul id="menu">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li>
            <a href="#">Thể loại</a>
            <ul id="submenu">

                @foreach (var item in Model)
                {
                    if (item.Category != null && item.Category.menu != null && item.Category.menu.Name != null)
                    {
                        var categoryName = item.Category.menu.Name;
                        if (!uniqueCategories.Contains(categoryName))
                        {
                            uniqueCategories.Add(categoryName);
                            <li>
                                <a asp-controller="Home" asp-action="ProductcategoryByMenu" asp-route-menuId="@item.Category.menu.Id">
                                    @categoryName
                                </a>

                                <ul id="sub-submenu">
                                    @foreach (var subItem in item.Category.menu.Categorys)
                                    {
                                        <li>
                                            <a asp-controller="Home" asp-action="Productcategory" asp-route-categoryId="@subItem.Id">@subItem.Name</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                }

            </ul>
        </li>
        
        <li><a asp-area="" asp-controller="Home" asp-action="likeuser">sách bạn đã thích</a></li>
        <li><a asp-area="" asp-controller="ShoppingCart" asp-action="useroder">Lịch sử mua hàng</a></li>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Ad" asp-action="danhthu">Admin</a>
            </li>
        }
    </ul>
</div>
