@model WebBanHang.Models.Product
@{
    Layout = "_AdminLayout";
}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h2>Delete Product</h2>
            <form asp-action="DeleteConfirmed" method="post">
                <input type="hidden" asp-for="Id" />
                <p>Bạn có chắc là xóa sản phẩm này chứ: @Model.Name?</p>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </main>
</div>